* {
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

body {
	width: 100%;
	background-color: white;
}

.header {
	height: 50px;
	width: 100%;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 10px;
}

.header div {
	padding-right: 2.3%;
}

.header li {
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1.2vw;
	position: relative;
}

hr {
	width: 80%;
	color: black;
	align: center;
	padding-left: 15px;
}

.title {
	text-align: center;
	color: white;
	font-size: 50px;
	margin-top: -40px;
	font-weight: 100;
	background-color: paleturquoise;
	width: 79%;
	margin: 0 auto;
	padding-top: .05px;
	padding-bottom: .05px;
	margin-top: 18px;
}

.photos {
	margin-top: 30px;
	margin-bottom: 50px;
}

.photos div {
	display: block;
	width: 80.8%;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
}
	
.photos div img {
	display: inline-block;
	width: 31.1%;
	height: 320px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
}

#photo {
	position: relative;
	text-align: center;
	border: 3px solid gainsboro;
	background-size: 100% 100%;
}

#caption {
	display: inline-block;
	position: absolute;
	opacity: 0;
	width: 457px;
	height: 34px;
	z-index: 2;
	margin: auto;
	margin-left: -489px;
	margin-top: 274px;
	padding: 2px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 10px;
	text-align: left;
	font-size: 25px;
	font-weight: 100;
	color: white;
	transition: all .5s ease-in-out .2s;
}

#caption:nth-of-type(3n+0) {
	margin-left: -484px;
}

#photo:hover + #caption {
	opacity: 1.0;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-dcoration: none;
	color: gainsboro;
}

a:visited {
	text-decoration: none;
}